{
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true
}
